.App {
  text-align: center;
  
}
.bigfont{
  font-size:calc(2rem + 1.5vw) !important;
}
.smallfont{
  font-size: calc(1rem + 0.3vw);
}
.greyfont{
  font-size:calc(1rem + 1.5vw) !important;
  color:#888B90!important;
  text-align:center;
  padding-top: 50px!important;
}


